div#envoyPathPanelContainer {
	position: relative;
	float: left;
	background-image: url("images/ui/envoypathpanel.jpg");
	background-repeat: no-repeat;
	width: 587px;
	height: 541px;
	top: 2px;
	left: 10px;
}
div#envoyPointsContainer {

	position: absolute;
	bottom: 15px;
	left: 110px;
	color: #fff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: 200;

}

div#envoyPathTableContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -216px;
	margin-left: -208px;
}

div#infoContainer {

	margin-left: 30px;
	color: #fff;
	font-family: "Trebuchet MS";

}

div#resetHoverContainer {
	position: absolute;
	width: 76px;
	height: 26px;
	bottom: 9px;
	left: 148px;
}

div#resetHoverContainer:hover {

	background-image: url("images/ui/reset_hover.png");
	width: 76px;
	height: 26px;
	bottom: 9px;
	left: 148px;

}
div#comfirmButton {

	position: absolute;
	width: 76px;
	height: 26px;
	bottom: 9px;
	left: 421px;

}
div#comfirmButton:hover {

	background-image: url("images/ui/comfirm.png");
	width: 76px;
	height: 26px;
	bottom: 9px;
	left: 421px;
}
div#closeButton {

	position: absolute;
	width: 76px;
	height: 26px;
	bottom: 9px;
	left: 502px;
}

div#closeButton:hover {
	background-image: url("images/ui/close.png");
	width: 76px;
	height: 26px;
	bottom: 9px;
	left: 502px;
}
table#envoyPathTable {

	/*width: 300px;
	height: 300px;*/
	/*position: absolute;*/
	/*top: 50%;
	left: 50%;
	margin-top: -208px;
	margin-left: -208px;*/

}

td > div {
	
	position: relative;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;

}

td div.overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: block;
	background: rgba(0, 0, 0, .7);

}

td img.lockOverlay {

	position: absolute;
	top: 23%;
	left: 27%;
	opacity: 0.5;
	display: block;
	width: 20px;
}

td .hidden {

	display: none;

}

/* Cell hover panel styles from this point onwards */
#cellToolTipPanel {
    background: rgba(30, 30, 30, 0.95);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.95)), to(rgba(5, 5, 5, 0.95)));
    background: -moz-linear-gradient(top, rgba(30, 30, 30, 0.95), rgba(5, 5, 5, 0.95));
    border: 1px solid rgba(5, 5, 5, 0.5);
    border-radius: 5px;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.1), 0px 1px 5px rgba(0, 0, 0, 0.6);
    padding: 13px;
    color: #e1e1e1;
    text-align: left;
    text-shadow: 0px -1px #000;
    float: right;
    position: absolute;
    width: 270px;
    margin-bottom: 20px;
    font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.toolTipIcon{
    position: absolute;
}
.cellPart,
.cellName {
    width: 221px;
    text-align: left;
    float: right;
    font-size: 16px;
    padding-left: 5px;
}
.cellPart {
    padding-top: 5px;
    font-size: 12px;
    color: #e1e1e1;
}

hr.line {
    margin: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(137, 137, 137, 137), rgba(0, 0, 0, 0));
}

.clear {

	clear: both;

}

div.envoyEffectContainer {

	position: relative;
	margin: 7px 0px;

}

img.envoyEffectIcon {

	margin-right: 10px;

}

span.envoyEffectText {


}