* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(44, 43, 43);
}

.container {
  margin: 16px;
  padding: 4px;
  box-shadow: 1px 1px 1px 1px;
  width: 70vh;
  margin: 10px auto;
}

.grid {
  margin: 10px auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
}

.row {
  display: flex;
}

.box {
  height: 100px;
  background: rgb(192, 186, 185);
  margin: 5px;
  color: rgb(129, 119, 119);
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  border: 2px solid white;
}

.class-box {
  height: 100px;
  background: rgb(3, 172, 214);
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
}

.box:hover {
  background: rgb(122, 122, 122);
}

.header {
  width: 60vh;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  color: white;
  border-bottom: 2px solid white;
}

.side-bar {
  display: none;
  margin: 8px;
  width: 60vh;
  float: left;
  position: absolute;
  top: 0;
}

.reset {
  width: 120px;
  height: 30px;
}

.reset-pos {
  margin: 0 auto;
  text-align: center;
}

.sp-pos {
  color: white;
  margin: 18px;
}
